# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=https://files.catbox.moe/54jd2c.jpg
SESSION_ID=Prince~F8ZhFBxD#qOorJ95YEdxVauOO2XhjM2O3YiGY9NDNx14xZe9ttEE
REMOVEBG_KEY=
PREFIX=.
MODE=private
AutoReaction=true
STATUSVIEW=true
OWNERS=923092668108;PRINCE
antidelete=true
BOT_NAME=Prince
DL_MSG=Here is your video
ANTI_LINK=true
ANTI_CALL=false
VIEWONCE=true
